# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore compiled class files
bin/

gradle

# Ignore Files that creating when test is running

test_tmp/

# Ignore repository data folder
repository/
